@use 'sass:color';
@use '@/assets/styles/common' as variables;

:host {
  display: block;

  button.active {
    background-color: color.adjust($color: variables.$primary-color, $lightness: 20%);
    color: white;
  }

  button,
  span.dot {
    width: 32px;
    height: 32px;
    text-align: center;
  }
}
