@use 'sass:color';
@use '@/assets/styles/common' as variables;

:host {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  th,
  td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    white-space: nowrap;
  }

  th {
    font-weight: 500;
  }

  td {
    text-align: left;
  }
}
