@use "@/assets/styles/variables" as variables;
@use "@/assets/styles/_reset.scss";

@forward "@/assets/styles/variables";

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: variables.$text-color;
  padding: variables.$spacing-0;
}
