@use "@/assets/styles/variables" as variables;
@use "@/assets/styles/_reset.scss";

@forward "@/assets/styles/variables";

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: variables.$text-color;
  padding: variables.$spacing-0;
}

button {
  background-color: variables.$button-background-color;
  color: variables.$button-color;
  border: none;
  border-radius: variables.$button-radius;
  box-shadow: variables.$button-box-shadow;
  padding: variables.$button-padding;
  font-size: variables.$button-font-size;
  font-weight: variables.$button-font-weight;
  cursor: pointer;
  transition: background-color variables.$transition-speed;

  &:hover {
    background-color: variables.$button-hover-background-color;
  }
}
